@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f172a;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
